.godot/
bin/
obj/
*.import
shot.png
shot.avi
*.avi
demo.avi
demo.mp4
f2.png
f4.png
f6.png
fh.png
fg.png
fs.png
fs2.png
fv.png
char.png
netdemo.avi
netdemo.mp4
fn.png
clientdemo.avi
clientdemo.mp4
fc.png
netgame.avi
netgame.mp4
fng.png
fcombat.png
fcombat2.png
netcombat.mp4
fplay.png
netplay.mp4
ffix.png
fhuman.png
fhuman2.png
nethuman.mp4
fhud.png
nethud.mp4
skinned.png
char_model.png
frealchar.png
realchar.mp4
build/
play.avi
fplaybuild.png
*.sln.DotSettings.user
launcher/pub/
launcher/publish/
launcher/obj/
launcher/bin/

